* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}


body {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2em;
  /* src https://www.colorzilla.com/gradient-editor/ */
  /*https://stackoverflow.com/questions/2869212/css3-gradient-background-set-on-body-doesnt-stretch-but-instead-repeats*/
  background: linear-gradient(to bottom, #3498db 50%,#dddddd 50%) fixed;
  background-repeat: no-repeat;
}

.container-bg {
box-sizing: border-box;
justify-content: center;
display: flex;
margin-top: 5%;
margin-right: 5%;
margin-left: 5%;
}

.container-card {
  background: white;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
}

.price-card {
  text-transform: uppercase;
  color: #3498db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.price-card-head h1{
  color: #7f8c8d;
}

.price-card-head p {
  
}

.price-card-img img {
border-radius: 50%;
align-content: center;

}